html, body{
    margin:0px;    
    width:100%;
    font-family: sans-serif;	

/* VIDEO:BACKGROUND DO SITE*/

.wrapper{
    background-color:#2d2825;
    height:50px;
}  
.backgrounder{
    position:absolute;
    top:0;
    bottom: 0;
    z-index:-1;
    margin-top:50px !important;
    width:100%;
    height:1000px;
    overflow:hidden;
}
video{}
.top-bar{
    background-color:#333333;
    border-bottom:1px solid #333333;
    height:35px;
    line-height:1;
    width:100%;
}
.conteiner{
    margin-left:4%;
    margin-right:4%;
    padding-right:1%;
    padding-left: 1%;
    height:38.667px;
}
.row{

    box-sizing: border-box;
    height:38.667px;
}
/* MEDIA RESPONSIVA*/
.topo-left{
    position:relative;
    height:36px;
    width:180px;
    float:left;
    background-image: url("./topo-left.png");
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
} 

.topo-right{
    position: relative;
    float: right;
    display: inline-block;
    height:36px;
    line-height:35px;
    width:224.563px;
}
.topo-right a{
    font-size:15px;
    color:white;
    cursor:pointer;
    margin-left:5px;
    font-weight: bold;
    text-decoration: none;
    font-family: sans-serif;
    text-transform:uppercase;
}
.cadastro{
    background-color: red;
    border: solid 2px;
    padding: 2px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    width:147.88px;
    height: 24.67px;
}
.login{
    width: 62.49px;
    height: 16.67px;
}

/* MENU DE NAVEGAÇÃO  */

.menu{
    position:absolute;
    top:36px;
    width:100%;
    padding-top:6px;
    padding-bottom:6px;
    background-color:rgba(240,240,240,0.84);
    height: 4vh;
    border:none;
}
.rw{
    margin-right: 6px; 
    margin-left: 6px;
    padding-right: 1%;
    padding-left: 1%;
    height:26px;
}
button{display:none;}

.rw-1{
    height:26px;
    margin-left: -1%;
    margin-right: -1%;
}
.div-1{
    height:26px;
    padding-left: 1%;
    padding-right: 1%;
    margin:0;
}
.div-2{
    height:26px;
    padding:0;
}
ul{
    height:26px;
    text-align:center;
    color: #505050;
    font-weight: 600;
    font-size:15px;
    font-family: sans-serif;
    display: block;
    padding-inline-start: 0px;
    margin:0;
}
li.inicio{
    color:#2d2825;
}
li{     
    display:inline-block;
    height:26px;
    text-align: left;
}
li a{
    line-height:24px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top:1px;
    padding-bottom:1px;
    width:100%;
    display:inline-block;	
}
.caret{  
    border-top-color: #505050;
    border-bottom-color: #505050;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
/* Cont1 */
.c1 {
    position: absolute;
    padding-top: 15px;
    padding-bottom:15px;
    padding-right:1%;
    padding-left:1%;
    margin-left: 4%;
    margin-right: 4%;
    width:90%;
    height:344px;
}
.conteiner1{
    width:100%;
    height:211px;
    margin:60px 0px 40px 0px;
}

img.logo-meio{
    position:absolute;
    left:50%;
    top: 55%;
    transform: translate(-50%, -50%);
    background-position: center;
    background-size: cover;
    vertical-align:middle;
    height: 211px;
}
.conteiner1 h4{
    position: absolute;
    top:78%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0px 1px #9a8b55;color: white;
    font-family: "Roboto",Helvetica,Arial,sans-serif;
    font-size:18px;
    margin-top:12px;
    margin-bottom:12px;
    font-weight: 500;
}
.c2 .conteiner1{
    position:absolute;
    top:55%;
    padding-top: 15px;
    padding-bottom:15px;
    padding-right:1%;
    padding-left:1%;
    margin-right: 4%;
    margin-left: 4%;
    width: 90%;
    height:284px;
}
.colum-1{
    position:relative;
    float:left;
    height:284px;
    width:33.3333%;
}
/* Botoes left */
.redb{
    position:relative;
    float:left;
    padding-left: 12px;
    padding-right: 12px;
    width: 356px;
    background-image: url(./redb.jpg);
    color:white;
    cursor: pointer;
    background-size:100% 100%;
    text-align: center;
    height: 71px;
    line-height: 71px; 
    text-transform:uppercase;
    text-decoration:none;
    font-size:2.2em;
    font-weight: bold;
    text-shadow: 1px 0 0 #000000, -1px 0 0 #000000, 0 1px 0 #000000, 0 -1px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
}
.grayb{
    position:relative;
    float:left;
    padding-left: 12px;
    padding-right: 12px;
    background-image: url(./grayb.jpg);
    background-size:100% 100%;
    height: 71px;
    line-height: 71px;
    text-align: left; 
    text-transform: uppercase;
    text-decoration:none;
    font-size:18px;
    font-weight: bold;
    color: #805d2b;
    width: 356px;
}
.guide{
    background-image: url(./guide.png);
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    top: 50%;
    right: 10px;
    float: right;
    position: absolute;
    transform: translateY(-50%);
}
.support{
    background-image: url(./support.png);
    background-size: 100% 100%;	
    width: 50px;
    height: 50px;
    top: 50%;
    right: 10px;
    float: right;
    position: absolute;
    transform: translateY(-50%);
}
.goldb{
    position:relative;
    float:left;
    padding-left: 12px;
    padding-right: 12px;
    width: 356px;
    background-image: url(./goldb.jpg);
    background-size:100% 100%;
    text-align: center;
    height: 71px;
    line-height: 71px;
    text-transform:uppercase;
    text-decoration:none;
    font-size:2.2em;
    color:white;
    font-weight: bold;
    text-shadow: 1px 0 0 #000000, -1px 0 0 #000000, 0 1px 0 #000000, 0 -1px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
}
.colum-2{
    height:284px;
    position:relative;
    float:right;
    width:66.6666%;
}
img.sukur{
    height:100%;
    width:100%;
}

/* RESPONSIVIDADE */
@media screen and (max-width: 1280px){
.conteiner{}
.row{}

.colum-1{z-index:100;}
.redb{}
.grayb{}
.goldb{}
}
@media screen and (min-width: 780px) and (max-width: 992px){
.topo-right{margin-right:1%;}
.topo-left{margin-left: 1%;}
.conteiner{width:100%; margin:0; padding:0;}
.row{width:100%;}
.rw, .rw-1, .div-1, .div-2{margin:0; padding:0; width:100%;}
.colum-1{width:100%;}
.colum-2{width:100%;}
.redb{width:100%; box-sizing:border-box;}
.grayb{width:100%; box-sizing:border-box;}
.goldb{width:100%;box-sizing:border-box; }
}

@media screen and (min-width:480px) and (max-width: 780px){
.wrapper{height:72px; background-color:black;}    
.conteiner{width:100%; margin:0; padding:0;}
.row{width:100%;}
.topo-right{ margin-right:0;}
.topo-left{display:none;}
nav{display:none;}
.c1{padding-top: 10px; padding-bottom:10px;}
.c2 .conteiner1{padding-top:10px; padding-bottom:10px; }
.colum-1{width:100%;}
.colum-2{width:100%;}
.redb{width:100%; box-sizing:border-box;}
.grayb{width:100%; box-sizing:border-box;}
.goldb{width:100%;box-sizing:border-box; }
}

@media screen and (max-width: 480px){
.wrapper{height:72px; background-color:black;}    
.conteiner{width:100%; margin:0; padding:0;}
.row{width:100%;}
.topo-right{ margin-right:0;}
.topo-left{display:none;}
nav{display:none;}

off-canvas-toggle{
background: rgba(255,255,255,0.15);
    border: 0;
    padding: 0;
    width: 36px;
    height: 36px;
    line-height: 36px;
	z-index:100;
}
.btn{display: inline-block;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.7143;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;}
.fa{display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    width:12px;
    height:14px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.c1{padding-top: 10px; padding-bottom:10px;}
.c2 .conteiner1{padding-top:10px; padding-bottom:10px; top:350px}
.colum-1{width:100%;}
.colum-2{width:100%;}
.redb{width:100%; box-sizing:border-box;}
.grayb{width:100%; box-sizing:border-box;}
.goldb{width:100%;box-sizing:border-box; }
}
